@font-face {
    font-family: 'Dooijes';
    src: url('Dooijes-Medium.woff2') format('woff2'),
        url('Dooijes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dooijes';
    src: url('Dooijes-Regular.woff2') format('woff2'),
        url('Dooijes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
    margin-left: 50px;
    margin-right: 50px;

}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center vertically */
    margin-bottom: 0; /* Remove default margin */


}

h2 {
    font-family: 'Dooijes';
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    margin: 0; /* Remove default margin */
}

h2 a {
    color: black;
}

h1 {
    font-family: 'Dooijes';
    font-weight: 500;
    font-size: 5rem;
    font-style: normal;
    display: flex;
    justify-content: center;
    margin-top: 0; /* Remove default margin */
    margin-bottom: 0; /* Remove default margin */
    
}

h1 a {
    color: black;
    text-decoration: none;
}



#image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    margin-top: 3rem;
    gap: 10px; /* Gap between grid items */
    align-items: baseline;


}

#image-container img {
    width: 100%; /* Make images fill the grid cells */
    max-width: 200px; /* Limit maximum width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 3rem;
    align-items: center;


    

}


#filter-buttons {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;

}

#filter-buttons button {
    padding: 0rem 0.5rem;
    font-family: 'Dooijes';
    font-size: 1.5rem;
    font-weight: normal;
    color: black;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.3s;
}

#filter-buttons button:hover {
    color: grey;
}


@media only screen and (max-width: 768px) {
    html {
        margin-left: 20px;
        margin-right: 20px;
    }
    h1 {
        font-size: 4rem;
    }
    #filter-buttons {
        flex-wrap: wrap;
    }
    #filter-buttons .column {
        width: 50%;
    }
    #image-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Media queries for mobile */
@media only screen and (max-width: 480px) {
    html {
        margin-left: 10px;
        margin-right: 10px;
    }
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 0.75rem;
    }


    #filter-buttons .column {
        width: 100%;

    }

    #filter-buttons button {
        font-size: 1rem;
        border-radius: 5px;
        border: solid;
        border-width: 0.05em;
        margin: 0.25rem;

    }

    #filter-buttons {
        gap: 5px;
    }

    #image-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #filter-buttons button:hover {
        color: black;
    }
    
}